* {
    text-align: center;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    background: #000;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    filter: brightness(100%);
    animation-name: grow;
    animation-duration: 1s;
}

@keyframes grow {
    from {
        transform: translateY(3em)
    }

    to {
        transform: translateY(0)
    }
}

.clock {
    margin-bottom: 20px;
    color: white;
}

.nav>li {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}


.text {
    font-size: 30px;
}